
@import './header.css';
@import './main.css';
@import './footer.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 

:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink:hsl(321, 100%, 78%);
    --light-red:hsl(0, 100%, 63%);
    --very-dark-cyan:hsl(192, 100%, 9%);
    --very-pale-blue:hsl(207, 100%, 98%);
}


body{ 
    
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

 
.header .container{
    padding:2em;
}

h1{
    line-height: 1.4;
    margin-bottom: 1em;
}
 
 

h1,
h2{
    font-family: 'Poppins', sans-serif; 
}

 

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

ul{
    list-style: none;
}
img{
    display: block;
    width: 100%;
}

 

.image{
    width: 84%;
    min-height: 330px;
    margin-inline: auto;
    margin-bottom: 1em;
}

.primary-btn{
    display: inline-block; 
    font-weight: 700;
    color: #fff;
    background: var(--pink);
    padding: 0.9em 3em;
    border-radius: 30px;
    box-shadow: 1px 1px 2px rgb(52, 51, 51)
}

.primary-btn:hover{
    opacity: 0.6;
    transform: scale(0.98);
}


.secondary-btn{
    display: inline-block;
    border: 2px solid var(--pink);
    border-radius: 30px;
    padding: 0.5em 2em;
    color: var(--pink);
}

@media(min-width:768px){
    .image{
        max-width: 450px;
         
    }
    .header .container{
        padding: 2.5em 3.2em 0em;
    }

    h2{
        font-size: 1.6em;
        margin-bottom: 1em;
    }
}